* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #171F12;
}
  :root {
    --font-family: "Inter", sans-serif;
    --second-family: "Whyte", sans-serif;
    --third-family: "Newsreader", sans-serif;
    --font3: "Figma Hand", sans-serif;
    --font4: "Whyte Inktrap", sans-serif;
  }